@using Model.ViewModels
@model AuthenticationViewModel








<div class="resume-section-content">
    <h2 class="mb-5">Hobbies</h2>
    <p>Apart from being a software and game developer, I enjoy spending my time outdoors. I’m passionate about hiking and exploring nature, often leading outdoor adventures with my group. I also have a deep interest in coffee culture and run my own coffee business, where I experiment with new brewing techniques and flavors.</p>
    <p class="mb-0">
        When indoors, I dedicate my time to developing games using Unity, improving my UI/UX design skills, and learning about embedded systems. I also closely follow the latest advancements in web and software technologies, particularly in C#, .NET, and game mechanics. In my downtime, I enjoy watching sci-fi and strategic gameplay videos for inspiration.

    </p>
</div>
