@{
    ViewData["Title"] = "AddEducation";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container-fluid">
    <h2>Yeni Eğitim Ekle</h2>
    <form method="post">
        <div class="form-group">
            <label>Başlık</label>
            <input type="text" name="Title" class="form-control" />
        </div>
        <div class="form-group">
            <label>Alt Başlık</label>
            <input type="text" name="SubTitle" class="form-control" />
        </div>
        <div class="form-group">
            <label>Alt Başlık 2</label>
            <input type="text" name="Subtitle2" class="form-control" />
        </div>
        <div class="form-group">
            <label>GNO</label>
            <input type="text" name="Gno" class="form-control" />
        </div>
        <div class="form-group">
            <label>Tarih</label>
            <input type="text" name="Date" class="form-control" />
        </div>
        <button class="btn btn-primary">Kaydet</button>
    </form>
</div>